<h1>Ember Contextual Components</h1>
<nav>
    {{#link-to "overview" activeClass="isActive"}}Overview{{/link-to}}
    {{#link-to "mutate" activeClass="isActive"}}Data Example{{/link-to}}
</nav>
<hr />

{{outlet}}